@tailwind base;
@tailwind components;
@layer base {
  body {
    font-family: 'Nunito', sans-serif;
    @apply bg-white;
  }
}
@layer utilities {
  .longImage {
    aspect-ratio: 1 / 1.2;
  }
  .squareImage {
    aspect-ratio: 1 / 1;
  }
  .wideImage {
    aspect-ratio: 1.5 / 1;
  }
}

/**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/ /**/
.fixedNavbar {
  height: calc(3.5rem);
  margin-top: env(safe-area-inset-top);
}
.paddingInsetTop {
  padding-top: env(safe-area-inset-top);
}

@media screen and (min-width: 0px) {
  .svgWidth {
    width: 130px;
  }
}
@media screen and (min-width: 768px) {
  .svgWidth {
    width: 160px;
  }
  .fixedNavbar {
    height: calc(4rem);
    margin-top: env(safe-area-inset-top);
  }
}
@media screen and (min-width: 1024px) {
  .svgWidth {
    width: 175px;
  }
}
@media screen and (min-width: 1700px) {
  .svgWidth {
    width: 210px;
  }
  .fixedNavbar {
    height: calc(5rem + env(safe-area-inset-top));
    margin-top: env(safe-area-inset-top);
  }
}
@media screen and (min-width: 2000px) {
  .svgWidth {
    width: 235px;
  }
  .fixedNavbar {
    height: calc(6rem + env(safe-area-inset-top));
    margin-top: env(safe-area-inset-top);
  }
}

@tailwind utilities;
