@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    font-family: 'Open Sans', sans-serif;
    @apply bg-white;
  }
}
.fixedHeader {
  height: calc(3.5rem + env(safe-area-inset-top));
}
.hScreenWithInsetBottom {
  height: calc(100% + env(safe-area-inset-bottom));
}
@layer utilities {
  .longImage {
    aspect-ratio: 1 / 1.2;
  }
  .squareImage {
    aspect-ratio: 1 / 1;
  }
  .wideImage {
    aspect-ratio: 1.5 / 1;
  }
}
